In [35]:
import pandas 
import seaborn
import matplotlib.pyplot as plt 
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
chipotle_data = pandas.read_csv(url, sep = '\t')
chipotle_data.head()

#What do you observe about this dataset?

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [ ]:
# Use the appropriate pandas methods to get the info on the data and describe it.
# List the column names in the dataset.
# What is the most ordered item? How many exactly were ordered?
# How much revenue did this chipotle make? 
# How many orders were placed at this chipotle?
# How many items cost more than $10?
# List the name of all unique items in the dataset. 
# Create a bar graph of the top 5 items sold.
# Create a pie chart showing the number of times each of the top 10 items were ordered.
# Create a line graph showing how much money was spent on the top 10 items ordered.
# Your team can come up with its own custom question to answer and visualize!

In [36]:
file = chipotle_data.columns
print(file)

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [52]:
most_order_item = chipotle_data.value_counts().index[0]
print(most_order_item)

order_id  quantity  item_name           choice_description                                                                                                                                                   item_price  NewItemPrice
926       1         Chicken Bowl        [Roasted Chili Corn Salsa, [Fajita Vegetables, Rice, Cheese, Sour Cream, Lettuce]]                                                                                   $8.75       8.75            3
724       1         Canned Soft Drink   [Coke]                                                                                                                                                               $1.25       1.25            3
1011      1         Canned Soft Drink   [Coke]                                                                                                                                                               $1.25       1.25            3
838       1         Chicken Soft Tacos  [Fresh Tomato Salsa, [Cheese, Sour Cream, Lettuce]]                                                                                                                  $8.75       8.75            2
1125      1         Chicken Burrito     [Fresh Tomato Salsa, [Rice, Cheese, Lettuce]]                                                                                                                        $8.75       8.75            2
                                                                                                                                                                                                                                        ..
623       1         Chicken Bowl        [Fresh Tomato Salsa (Mild), [Black Beans, Rice, Fajita Veggies, Cheese, Sour Cream, Lettuce]]                                                                        $8.49       8.49            1
                                        [[Fresh Tomato Salsa (Mild), Roasted Chili Corn Salsa (Medium), Tomatillo-Red Chili Salsa (Hot)], [Black Beans, Rice, Fajita Veggies, Cheese, Sour Cream, Lettuce]]  $8.49       8.49            1
624       1         Barbacoa Burrito    [[Fresh Tomato Salsa (Mild), Tomatillo-Red Chili Salsa (Hot)], [Black Beans, Rice, Cheese, Sour Cream]]                                                              $8.99       8.99            1
625       1         Chicken Bowl        [Fresh Tomato Salsa, [Rice, Cheese, Lettuce]]                                                                                                                        $8.75       8.75            1
1834      1         Chicken Salad Bowl  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto Beans, Lettuce]]                                                                                                      $8.75       8.75            1
Name: count, Length: 3335, dtype: int64

In [40]:
chipotle_data['NewItemPrice'] = chipotle_data['item_price'].str.replace('$',"").astype(float)
chipotle_data['NewItemPrice']

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: NewItemPrice, Length: 4622, dtype: float64

In [48]:
print(chipotle_data['NewItemPrice'].sum())

34500.16

In [60]:
len(chipotle_data['NewItemPrice'])

4622

In [54]:
print(chipotle_data['order_id'].max())

1834

In [ ]:
chipotle_data['HighValueItem'] = chipotle_data['NewItemPrice' > 109]

In [55]:
HighValueItem = chipotle_data[chipotle_data['NewItemPrice'] > 10 ]

In [58]:
len(HighValueItem)

1130

In [69]:
chipotle_data['item_name'].unique()

array(['Chips and Fresh Tomato Salsa', 'Izze', 'Nantucket Nectar',
       'Chips and Tomatillo-Green Chili Salsa', 'Chicken Bowl',
       'Side of Chips', 'Steak Burrito', 'Steak Soft Tacos',
       'Chips and Guacamole', 'Chicken Crispy Tacos',
       'Chicken Soft Tacos', 'Chicken Burrito', 'Canned Soda',
       'Barbacoa Burrito', 'Carnitas Burrito', 'Carnitas Bowl',
       'Bottled Water', 'Chips and Tomatillo Green Chili Salsa',
       'Barbacoa Bowl', 'Chips', 'Chicken Salad Bowl', 'Steak Bowl',
       'Barbacoa Soft Tacos', 'Veggie Burrito', 'Veggie Bowl',
       'Steak Crispy Tacos', 'Chips and Tomatillo Red Chili Salsa',
       'Barbacoa Crispy Tacos', 'Veggie Salad Bowl',
       'Chips and Roasted Chili-Corn Salsa',
       'Chips and Roasted Chili Corn Salsa', 'Carnitas Soft Tacos',
       'Chicken Salad', 'Canned Soft Drink', 'Steak Salad Bowl',
       '6 Pack Soft Drink', 'Chips and Tomatillo-Red Chili Salsa', 'Bowl',
       'Burrito', 'Crispy Tacos', 'Carnitas Crispy Tacos', 'Steak Salad',
       'Chips and Mild Fresh Tomato Salsa', 'Veggie Soft Tacos',
       'Carnitas Salad Bowl', 'Barbacoa Salad Bowl', 'Salad',
       'Veggie Crispy Tacos', 'Veggie Salad', 'Carnitas Salad'],
      dtype=object)

In [76]:
value =  [2.39, 3.39, 3.39,2.39, 16.98]




df = chipotle_data({'lab':['0', '1', '2','3','4'], 'val':[2.39, 3.39, 3.39,2.39, 16.98]})





plt.bar(data = df, x='lab', y='val', rot=0)
# ax = df.plot.bar(x='lab', y='val', rot=0)

TypeError: 'DataFrame' object is not callable